Parameter to control OCSP response `Expires` header

The OCSP responder's `ServeHTTP` handler presently [sets the `Expires` cache control header to the OCSP response's `NextUpdate` value](https://github.com/cloudflare/cfssl/blob/437c6213e569dde639fd116272c27557fd38eaf9/ocsp/responder.go#L197) as recommended by [RFC 5019 §6.2](https://tools.ietf.org/html/rfc5019#section-6.2).

At Let's Encrypt we are generating fresh OCSP responses ahead of the `NextUpdate` value (generally ~3 days) to allow some wiggle room. With the `Expires` header presently set from the responder this strategy is not effective as our content distribution network will continue to honour the cached response until right up to the `NextUpdate`. Therefore we override the `Expires` header at the CDN layer to a shorter period ~12h after the current date so clients will pick up the new OCSP response before the last minute.

It would be better if we could instead set a new `maxMaxAge` parameter of ~3days in the OCSP Responder configuration. The responder's `ServeHTTP` could then be modified to set the `Expires` header to the  min of the `NextUpdate` and the `maxMaxAge` parameter. This would remove our need to override the `Expires` header later-on.


@cpu We probably won't have time to work on this, but we'd be happy to review a PR.

@kisom that's fair. I can't promise I'll send one but I'll see what I can fit in. Thanks!

For Boulder, our current plan is to use the existing headers interface to set [caching headers that only affect our CDN](https://github.com/letsencrypt/boulder/issues/2794). That way we can preserve the .[RFC 5019 caching semantics](https://tools.ietf.org/html/rfc5019#page-10) for everyone outside of our CDN.

Apologies for forgetting to close this when our plan moved on. It's not required anymore.